<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BASE PROJECT WITH AMD AND GULP</title>
	<link rel="stylesheet" href="http://localhost:3000/public/assets/styles/all/all-main.css">
	<link rel="stylesheet" href="http://localhost:3000/public/vendor/styles/font-awesome/css/font-awesome.css">
</head>

<body class="pag_pma pag_Ganadores">

	<header class="tem_Header">
		<div class="cgrid-container">
			<div class="Header__left f_left">
				<a class="Header__logo" href="/">PREMIO MAPFRE PARA LAS ARTES</a>
			</div>
			<div class="Header__right f_right">
				<nav class="js_Mobile_menu mol-nav_Main">
					<ul class="list-inline">
						<li><a href="index.html">Home</a></li>
						<li><a href="concursa.html">Concursa</a></li>
						<li><a href="jurado.html">Jurado</a></li>
						<li><a href="participantes.html">Participantes</a></li>
						<li><a href="finalistas.html">Finalistas</a></li>
						<li class="is-active"><a href="ganadores.html">Ganadores</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<a class="js_Mobile_btn atm_Button-responsive d_none d_block--md" href="javascript:;">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a>
	</header>
	<main class="tem_Body">
		<div class="cgrid-container">
			<section class="org-section_Gallery">
				<div class="mol-bl_Intro">
					<h1>GANADORES</h1>
				</div>
				<div class="Gallery__box">
					<div class="Gallery__item">
						<figure>
							<img src="../public/assets/images/all/design/content/ganadores01.png" alt="" class="Gallery__image">
						</figure>
						<div class="Gallery__text">
							<span class="Gallery_rank">1ER. PUESTO</span>
							<h2>Alberto Rodriguez
								<small>"Fiesta Patronal</small>
							</h2>
							<span class="Gallery__detail" z>» ver detalle</span>
							<p>Pintura en óleo donde vemos a un barco pescador en faena en mar abierto en plena madrugada.
							</p>
						</div>
					</div>
					<div class="Gallery__item">
						<figure>
							<img src="../public/assets/images/all/design/content/ganadores01.png" alt="" class="Gallery__image">
						</figure>
						<div class="Gallery__text">
							<span class="Gallery_rank">1ER. PUESTO</span>
							<h2>Alberto Rodriguez
								<small>"Fiesta Patronal</small>
							</h2>
							<span class="Gallery__detail" z>» ver detalle</span>
							<p>Pintura en óleo donde vemos a un barco pescador en faena en mar abierto en plena madrugada.
							</p>
						</div>
					</div>
					<div class="Gallery__item">
						<figure>
							<img src="../public/assets/images/all/design/content/ganadores01.png" alt="" class="Gallery__image">
						</figure>
						<div class="Gallery__text">
							<span class="Gallery_rank">1ER. PUESTO</span>
							<h2>Alberto Rodriguez
								<small>"Fiesta Patronal</small>
							</h2>
							<span class="Gallery__detail" z>» ver detalle</span>
							<p>Pintura en óleo donde vemos a un barco pescador en faena en mar abierto en plena madrugada.
							</p>
						</div>
					</div>
					<div class="Gallery__item">
						<figure>
							<img src="../public/assets/images/all/design/content/ganadores01.png" alt="" class="Gallery__image">
						</figure>
						<div class="Gallery__text">
							<span class="Gallery_rank">1ER. PUESTO</span>
							<h2>Alberto Rodriguez
								<small>"Fiesta Patronal</small>
							</h2>
							<span class="Gallery__detail" z>» ver detalle</span>
							<p>Pintura en óleo donde vemos a un barco pescador en faena en mar abierto en plena madrugada.
							</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	<footer class="tem_Footer">
			<div class="cgrid-container">
				<div class="Footer__right f_right">
					<a class="Footer__logo" href="">MAPFRE</a>
				</div>
				<div class="Footer__left f_left">
					<ul class="list-inline Footer__list-social">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-youtube"></i></a></li>
						<li class="cop">©COPYRIGHT MAPFRE PERÚ. TODOS LOS DERECHOS RESERVADOS 2017.</li>
					</ul>
				</div>
			</div>
		</footer>
	<script src="../public/vendor/scripts/jquery.min.js"></script>
	<script src="../public/assets/scripts/main.js"></script>
</body>

</html>
